*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(273, 75%, 66%);
}
.container{
    width: 1000px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.answer{
    width:400px
}
.woman{
    width:500px;
    position: absolute;
    left: -8%;
    top:30%;
}
.box{
    position: absolute;
    top:55%;
    left: -14%;
    z-index: 1;
}
.question{
    margin-bottom: 80px;
   
}
.question:hover{
    color: red;
}
.answer{
    display: none;
    position: absolute;
    bottom: 20%;
}
.active{
    display: block;
}
.arrow{
    width: 20px;
    position: absolute;
    top:0;
    right: -20%;
}
.container-items{
    position: relative;
}
.toggle{
    transform: rotate(180deg);
}
    